Libs/
*.bak
*.obj
.idea/
cmake-build*/
CMakeLists*.txt

SRC/ShineWiFi-ModBus/Config.h

# PlatformIO
.pio

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace
