Libs/
*.bak
*.obj
.idea/
cmake-build*/
CMakeLists*.txt

SRC/ShineWiFi-ModBus/Config.h

# PlatformIO
.pio

# VisualStudioCode
.vscode/*
*.code-workspace
SRC/ShineWiFi-ModBus/build/esp8266.esp8266.generic/ShineWiFi-ModBus.ino.elf
SRC/ShineWiFi-ModBus/build/esp8266.esp8266.generic/ShineWiFi-ModBus.ino.map
